.new-user-alert{padding-top:2.5rem}

.input-field {
    width: 350px;
    margin-left: 20px;
} 

.login-form {
    margin: 20px;
    width: 80%;
}
  
.error-msg {
    color: #a94442;
    font-size: small;
}

.space {
    margin-left: 15px;
}