<p>
  color-schemes works!
</p>

<h2 style="color:#c3eb78">Medium Spring Bud</h2>
<div class="container"> 
  <div>
    <span class="color-bar" style="background-color: #c3eb78">&nbsp;</span>
    <span class="hex">c3eb78</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #f9fdf2">&nbsp;</span>
    <span class="hex">f9fdf2</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #f4fbe6">&nbsp;</span>
    <span class="hex">f4fbe6</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #eef9da">&nbsp;</span>
    <span class="hex">eef9da</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #e9f7cd">&nbsp;</span>
    <span class="hex">e9f7cd</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #e3f5c1">&nbsp;</span>
    <span class="hex">e3f5c1</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #def4b5">&nbsp;</span>
    <span class="hex">def4b5</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #d8f2a9">&nbsp;</span>
    <span class="hex">d8f2a9</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #d3f09c">&nbsp;</span>
    <span class="hex">d3f09c</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #cdee90">&nbsp;</span>
    <span class="hex">cdee90</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #c8ec84">&nbsp;</span>
    <span class="hex">c8ec84</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #b2d66e">&nbsp;</span>
    <span class="hex">b2d66e</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #a0c163">&nbsp;</span>
    <span class="hex">a0c163</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #8eab58">&nbsp;</span>
    <span class="hex">8eab58</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #7d964d">&nbsp;</span>
    <span class="hex">7d964d</span> 
  </div>

     <div>
    <span class="color-bar" style="background-color: #6b8142">&nbsp;</span>
    <span class="hex">6b8142</span> 
  </div>

     <div>
    <span class="color-bar" style="background-color: #596b37">&nbsp;</span>
    <span class="hex">596b37</span> 
  </div>

     <div>
    <span class="color-bar" style="background-color: #47562c">&nbsp;</span>
    <span class="hex">47562c</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #364121">&nbsp;</span>
    <span class="hex">364121</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #242b16">&nbsp;</span>
    <span class="hex">242b16</span> 
  </div>

    <div>
    <span class="color-bar" style="background-color: #12160b">&nbsp;</span>
    <span class="hex">12160b</span> 
  </div> 
</div>

