
<div class="spinner-container" *ngIf="loading$ | async">
    <mat-progress-spinner
        [color]="color"
        [mode]="mode"
        [value]="value">
    </mat-progress-spinner>
</div>

<p-listbox *ngIf="!(loading$ | async)" [options]="messages"
    [(ngModel)]="selectedMessage"
    [dataKey]="messageId"
    [style]="{'width':'400px'}"
    [listStyle]="{'max-height': '400px'}"
    (onChange)="handleListChange($event)">

    <p-header>
        <span class="header-text">Encouraging Messages</span>
    </p-header>

    <ng-template let-message let-i="index" pTemplate="item">
        <div class="flex-container-1">
            <div>
                <img class="avatar-50" [src]="message.fromMemberPicUri"
                    style="display:inline-block;margin:5px 10px 5px 0px"
                    matTooltip="Open {{ message.fromName }}'s profile">
            </div>

            <div class="flex-child-container-1">
                <div>
                    <span class="member-name">{{ message.fromName }}</span>
                </div>
                <div>
                    <!-- <span class="message-body truncate">{{ message.body }}</span> -->
                    <span class="received-date">
                        {{ message.dateCreated | date:'fullDate' }}</span>
                </div>
            </div>

            <div class="flex-child-container-2">
                <div>
                    <button *ngIf="showNotReadIcon(message)" class="btn-icon"
                        type="button" (click)="changeReadStatus(message, 2)">
                        <i [class]="getNotReadClass(message.messageId)"
                            matTooltip="Mark as read"></i>
                    </button>
                    <button *ngIf="!showNotReadIcon(message)" class="btn-icon"
                        type="button" (click)="changeReadStatus(message, 1)">
                        <i [class]="getReadClass(message.messageId)"
                            matTooltip="Mark as not read"></i>
                    </button>
                    <button *ngIf="showArchiveIcon(message)" class="btn-icon"
                        type="button" (click)="archiveMessage(message)">
                        <i [class]="getArchiveIconClass(message.messageId)"
                            matTooltip="Archive"></i>
                    </button>
                    <button *ngIf="showFlagIcon(message)" class="btn-icon"
                        type="button" (click)="flagMessage(message)">
                        <i class="fa fa-flag flag-icon" matTooltip="Flag as
                            inappropriate"></i>
                    </button>
                </div>
            </div>
        </div>

        <mat-expansion-panel [expanded]="message.messageOpen"
            (opened)="openMessage(message)"
            (closed)="closeMessage(message)">
            <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                    {{ message.messageOpen ? 'close' : 'open'}} message
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{ message.body }}</p>
        </mat-expansion-panel>

    </ng-template>
    <p-footer>
        This is the footer!
        Selected: {{ selectedMessage || 'none' }}
    </p-footer>

</p-listbox>
