// :host {
//     ::ng-deep .prime-listbox.ui-listbox {        
//         width: 500px;
//         height: 300px;
//     }   
// } 

// :host {
//     ::ng-deep .prime-listbox-header.ui-listbox-header {
//         background-color: red;
//     }
// } 

.ui-listbox-item {
    background-color: #7d964d !important;
}

.message-item {
    background-color: #7d964d !important;
}

.member-name {
    font-size: 1em;
    font-weight: bold; 
}

.message-body {
    // margin:20px 10px 0 0;
    font-size: .9em;
}

.message-display {
    display: inline;
}

.member-icon {
    float: left;
}

.flex-container-1 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.flex-child-container-1 {
    display: flex;
    flex-direction: column;  
    flex-grow: 2;  
    // justify-content: flex-start;
}

.flex-child-container-2 {
    display: flex;
    flex-direction: column;    
    // justify-content: flex-end;
}

.header-text {
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.5em;
}

.headerIcon {
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.5em;
}

.received-date {
    font-size: 1em;
}

.truncate {
    display: block;
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .read-status-icon {
      color: #596b37;
      font-size: 1.1em;
      margin-right: 3px;
  }

  .archive-icon {
    color: #242b16;
    margin-right: 3px;
  }

  .flag-icon {
    color: crimson;

  }



// [style]="{'width':'500px'}"

