// :host {
//     ::ng-deep .prime-listbox.ui-listbox {        
//         width: 500px;
//         height: 300px;
//     }   
// } 

// :host {
//     ::ng-deep .prime-listbox-header.ui-listbox-header {
//         background-color: red;
//     }
// } 

body .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
    background-color: #7d964d;
}

.member-name {
    font-size: 1em;
    font-weight: bold; 
}

.message-body {
    // margin:20px 10px 0 0;
    font-size: .9em;
}

.message-display {
    display: inline;
}

.member-icon {
    float: left;
}

.flex-container-1 {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.flex-child-container-1 {
    display: flex;
    flex-direction: column;  
    flex-grow: 2;  
    // justify-content: flex-start;
}

.flex-child-container-2 {
    // display: flex;
    // flex-direction: column;    
    align-self: auto;
    margin-top: 15px;
    margin-right: 10px;
}

.header-text {
    font-weight: bold;
    margin-left: 5px;
    font-size: 1em;
}

.headerIcon {
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.5em;
}

.received-date {
    font-size: 1em;
}

.truncate {
    display: block;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  %read-status-icon {
      font-size: 1.1em;
      margin-right: 0px;   
  }

  .read-status-icon-selected {
    @extend %read-status-icon;
    color: #eef9da;
  }

  .read-status-icon-unselected {
    @extend %read-status-icon;
    color: #596b37;
  }

  %archive-icon {    
    margin-right: 0px;
  }

  .archive-icon-selected {
    @extend %archive-icon;
    color: #e7d4b9;
  }

  .archive-icon-unselected {
    @extend %archive-icon;
    color: #a58855;
  }

  .flag-icon {
    color: crimson;
  }

  /* Style icon buttons */
.btn-icon {
  background-color: transparent; 
  border: none;
  width: 20px;
  height: 20px;
}

/* Darker background on mouse-over */
.btn-icon:hover {
  border: none; 
}

.btn-icon:focus {
  outline: none;
}


// ::ng-deep snack-bar-container.my-snackbar {
//   background: yellow;
// }

// ::ng-deep .my-snackbar .mat-simple-snackbar {
//   color: green;
// }

.custom-snack-bar {
  background-color: #242b16;  
  .mat-button-wrapper {
  color: #c3eb78;
  }
}


.spinner-container {
  margin-top: 100px;
  margin-left: 50px;
  width: 400px;
}





// [style]="{'width':'500px'}"

