.emojiMenu {
    margin-top: 400px;
    margin-left: 200px;
}

.emoji-mart {
    margin-top: 16px;
}

.emoji-mart-header {
    background-color: aquamarine;
}

.close { 
    width: 16px;
    height: 16px;
    margin-top: 8px;
    margin-right: 16px;
    color: gray; 
    text-align: right; 
  }
  
  .close:hover {
    color: black
  }
  
  .close:focus {
    outline: none;
  }

  .red {
    background-color: red !important;
  }
  .blue {
    background-color: blue !important;
  }
  .blue .search-header {
    background-color: green !important;
  }