<!-- 
<fa name="cog" animation="spin"></fa> 
<fa name="navicon"></fa> 

<h3 id="emoji">Emoji </h3>

<h3>❤️</h3>
<h3>&#1F937;</h3>

<i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<i class="pi pi-check" style="font-size: 3em"></i>
<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>

<br /><br />
<mat-icon>home</mat-icon>
<i class="material-icons">account_box</i> -->

<div class="flex-container">
  <div>
    <app-received-messages></app-received-messages>
  </div>
  <div>
    <app-sent-messages></app-sent-messages>
  </div>
</div>








