.settings-form {
    margin: 20px;
    width: 80%;
}

.edit-toggle {
    margin-left: 15px;
    font-size: .5em; 
}

.space {
    margin-left: 15px;
}

.toggles {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1em; 
}