
<h2>ZMA Members</h2>

<div class="search-container">
  <mat-form-field>
    <input matInput placeholder="Search members" #searchInput>
  </mat-form-field>
</div>


<div class="spinner-container" *ngIf="loading$ | async">
  <mat-progress-spinner
    [color]="color"
    [mode]="mode"
    [value]="value">
  </mat-progress-spinner>

</div>

<div class="grid-container">
  <div class="child-container" *ngFor="let member of members$ | async">
    <div>
      <div *ngIf="!hasProfilePhotoUri(member)" [ngSwitch]="member.gender">
          <i *ngSwitchCase="0" class="fa fa-male default-profile-icon"></i>
          <i *ngSwitchCase="1" class="fa fa-female default-profile-icon"></i>
          <i *ngSwitchDefault class="fa fa-user default-profile-icon"></i>
      </div>
      
        
      <img *ngIf="hasProfilePhotoUri(member)"
        class="avatar-125 img-member" [src]="member.profilePhotoUri" />
    </div>
    <div class="member-name">
      {{member.firstName}} {{member.lastName}}
    </div>
    <div>
      <button class="btn-encourage"
        (click)="openSendMessageDialog(member)">encourage {{
        getGenderPronoun(member.gender) }}</button>
    </div>
  </div>
</div>

<mat-paginator [length]="totalCount"
  [pageSize]="paginationService.pageSize"
  [pageSizeOptions]="paginationService.selectItemsPerPage"
  (page)="switchPage($event)">
</mat-paginator>
