<!-- Main navigation header toolbar and side nav-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a *ngIf="auth.roleMatch(['admin'])" mat-list-item routerLink="/admin">Admin
          Panel</a>
        <a *ngIf="auth.roleMatch(['member'])" mat-list-item
          routerLink="/directory/0">Member Directory</a>
        <a *ngIf="auth.roleMatch(['member'])" mat-list-item
          routerLink="/directory/1">Group Directory</a>
  
        <a mat-list-item routerLink="/about">About</a>
        <a mat-list-item routerLink="/primeng-test">PrimeNG Test</a>
        <a mat-list-item routerLink="/ng-material-test">NG Material Test</a>        
        <a mat-list-item routerLink="/color-schemes">Color Schemes</a>    
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Header toolbar-->
    <mat-toolbar class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
        <fa aria-label="Side nav toggle icon" size="lg" name="navicon"></fa>
      </button>

    <button mat-button routerLink="/">

         <img src="../assets/svg/encourageme_logo_tagline.svg" alt="EncourageMe" height="64px" width="200px" />
    </button> 

      <span class="spacer"></span>

      <button *ngIf="!auth.isAuthenticated" mat-button
        (click)="openLoginDialog()">Sign-in</button>
      <button *ngIf="!auth.isAuthenticated" mat-button
        (click)="openRegisterDialog()">Register</button>

      <p-menu #menu [popup]="true" 
      [model]="items" 
      appendTo="body"></p-menu>
      <button *ngIf="auth.isLoggedIn()" 
        mat-button
        type="button" 
        class="account-button"
        (click)="menu.toggle($event)">

          <img *ngIf="hasMemberPhotoUri()" 
              class="avatar-40" [src]="auth.memberPhotoUri">   
       
          <i *ngIf="!hasMemberPhotoUri()" class="pi pi-user" style="font-size: 3em"></i>
  
        <i class="pi pi-angle-down" style="margin-left: 5px; font-size: 1.5em"></i>
      </button>
          </mat-toolbar>
          <!-- / Header toolbar-->

          <!-- Add Content Here -->
          <div class="content-wrapper">
            <router-outlet></router-outlet>
          </div>
        

        </mat-sidenav-content>
      </mat-sidenav-container>
