.example-tab-icon {
    margin-right: 8px;
  }

.tabs-container {
    margin: 15px;    
}

.ui-tabview-selected {
    background-color: #7d964d !important;
}

// body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
//     background-color: red;
// }

// :host {
//     ::ng-deep .ui-tabview-selected {        
//         background-color: brown;
//     }   
// } 