
<!--  
<nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" 
        [routerLink]="link.path" 
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{ link.label }}
    </a>
</nav>  -->

<!-- <app-header></app-header> -->
<!-- <app-navigation></app-navigation> -->

<app-main-nav></app-main-nav>


<!-- <app-ng-file-upload></app-ng-file-upload> -->


<!-- <app-dialog-example></app-dialog-example> -->
<!-- <router-outlet></router-outlet> -->

<!-- <mat-tab-group dynamicHeight="true" >
    <mat-tab>      
        <ng-template mat-tab-label>
            The <em>best</em> pasta
        </ng-template> 
        <h1>Best pasta restaurants</h1>
        <p>...</p>
    </mat-tab>
    <mat-tab>
            <ng-template mat-tab-label>
                 <mat-icon>thumb_down</mat-icon> The worst sushi 
            </ng-template>
            <h1>Terrible sushi restaurants</h1>
            <p>...</p>
          </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>   -->