<p>
  primeng-test works!
</p>

<h3>Popup</h3>
<p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu>
<button type="button"
  pButton icon="pi pi-cog"
  label="Show"
  (click)="menu.toggle($event)">
</button>
<p></p>

<p-menu #menu2 [popup]="true" appendTo="body">
  <p>Test!</p>
</p-menu>
<button type="button"
  pButton icon="pi pi-cog"
  label="Test"
  (click)="menu2.toggle($event)">
</button>

<ngx-emoji [emoji]="{ id: 'santa', skin: 3 }" size="16"></ngx-emoji>
<ngx-emoji emoji=':santa::skin-tone-3:' size="16"></ngx-emoji>
<ngx-emoji emoji='santa' set='emojione' size="16"></ngx-emoji>
<ngx-emoji emoji=':female-teacher::skin-tone-5:' size="16" tooltip="true"></ngx-emoji>

<ngx-emoji emoji=':blush:' size="16" tooltip="true"></ngx-emoji>


<div class="overlay-panel">
  <p-overlayPanel #op [showCloseIcon]="true">

    <div class="emoji-mart">
      <emoji-mart title="Pick an emoji"
        perLine="7"
        totalFrequentLines="2"
        color="#596b37"
        sheetSize="64"
        emoji="point_up"
        set='google'
        emojiTooltip="true"
        (emojiClick)="addEmoji($event)">
      </emoji-mart>
    </div>

  </p-overlayPanel>
  <button type="text" 
    pButton label="Emoji Mart" 
    (click)="togglePicker($event, op)">
  </button>


</div>
<!-- [value]="textareaData | emojify" -->
<!-- <textarea id="textarea-emoji" #textareaEmoji [innerHTML]="textareaData | safeHtml">
</textarea> -->

<textarea id="textarea-emoji" #textareaEmoji [value]="textareaData | emojify">
    
</textarea>


<!-- <div id="divTest" [innerHtml]="textareaData | safeHtml">
  
</div> -->

<div id="divTest2" ng-bind-html="emojiTest">
  divTest2
</div>

<div ng-bind-html="emojiTest">
    
  </div>


<!-- <p [innerHTML]="textareaData | safeHtml"></p>
<p>{{ textareaData | safeHtml }}</p>
<p [innerHTML]="emojiTest"></p> -->

<mat-card>
  <mat-card-content>
    <mat-card-title>Basic Expansion</mat-card-title>
    <mat-card-subtitle>Expansion panel <code class=""><a
          href="https://material.angular.io/components/expansion/overview">Official
          Component</a></code></mat-card-subtitle>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Personal data </mat-panel-title>
          <mat-panel-description> Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name"> </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age"> </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState= true"
        (closed)="panelOpenState= false">
        <mat-expansion-panel-header>
          <mat-panel-title> Self aware panel </mat-panel-title>
          <mat-panel-description> Currently I am {{panelOpenState ? 'open' :
            'closed'}} </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
