<div class="container">

  <div class="header">
    <span class="title">{{ data.title }}</span>
  </div>

  <div>
    <span class="to-name">To: {{ data.firstName }} {{ data.lastName }}</span>
  </div>

  <div>
    <button type="button" class="close" (click)="onClose($event)">
      <fa name="close"></fa>
    </button>
  </div>

  <div class="item-c">
    <div>
      <img [src]="data.profilePhotoUri" class="avatar-100" />
    </div>

    <div>
      
      <textarea
        appAutoFocus rows="10" cols="30"
        spellcheck="true"        
        autoResize="vertical" 
        [(ngModel)]="data.message"
        type="text" 
        placeholder="Enter your message">
      </textarea>
    </div>

  </div>


  <div class="item-d"><button mat-raised-button type="submit"
      class="btn-submit"
      matTooltip="Send Message"
      color="primary"
      (click)="onSubmit($event)">
      <span class="btn-text">Send <fa name="send"></fa></span>
    </button></div>

</div>
<!-- <button type="button" (click)="test()">Test</button> -->
