// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "assets/css/ng-material-theme.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/css/material-icons.css";
@import "assets/css/avatar";
@import "assets/css/confirmation";
@import "~@ctrl/ngx-emoji-mart/picker";

textarea:focus {
    outline-color: green;
}

button:focus {
    outline-color: green;
}

input:focus {
    outline-color: green;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

.custom-bottom-sheet-container .mat-bottom-sheet-container {
  padding: 0;
}
